<!DOCTYPE html>
<html>

<head>
    <title>Tracking tuan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .header {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .footer {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            text-align: center;
            bottom: 0;
            width: 100%;
        }

        .logo {
            max-width: 100px;
            
        .status-quantity {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .status-quantity button {
        margin-left: 5px; /* Khoảng cách giữa số lượng và nút "Xem" */
    }
        }
    </style>
    <script>
        function showStatusList(status) {
            var statusList = JSON.parse(document.getElementById(status + '_list').textContent);
            alert(statusList.join('\n'));
        }
    </script>
</head>

<body>
    <div class="header">
        <img src="logo.png" alt="Logo" class="logo">
    </div>
    <div class="container">
        <h1 class="text-center">Tracking ssss</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="textarea">Mã đơn hàng</label>
                <textarea class="form-control" placeholder="Có thể nhập nhiều mã đơn hàng, mỗi dòng là 1 mã"
                    id="textarea" rows="7" name="tracking_number"></textarea>
            </div>
            <div class="form-group">
                <label>Lựa chọn đơn vị vận chuyển</label>
                <select class="form-control" id="dropdown" name="carrier">
                    {% for carrier in carriers %}
                    <option value="{{ carrier }}">{{ carrier }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Kiểm tra</button>
        </form>

        <h1 class="text-center">Báo cáo kết quả 111</h1>
<table class="table mt-4 table-bordered">
    <thead>
        <tr>
            <th scope="col">Trạng thái</th>
            <th scope="col">Số lượng</th>
        </tr>
    </thead>
    <tbody>
        {% with sc=status_count %}
        <tr>
            <td>Đã thông quan</td>
            <td class="status-quantity">{% if sc.Đã_thông_quan != 0 %}{{ sc.Đã_thông_quan }}<button type="button" class="btn btn-link" onclick="showStatusList('Đã_thông_quan')">Xem</button>{% else %}0{% endif %}</td>
        </tr>
        <tr>
            <td>Đang thông quan</td>
            <td class="status-quantity">{% if sc.Đang_thông_quan != 0 %}{{ sc.Đang_thông_quan }}<button type="button" class="btn btn-link" onclick="showStatusList('Đang_thông_quan')">Xem</button>{% else %}0{% endif %}</td>
        </tr>
        <tr>
            <td>Đang vận chuyển</td>
            <td class="status-quantity">{% if sc.Đang_vận_chuyển != 0 %}{{ sc.Đang_vận_chuyển }}<button type="button" class="btn btn-link" onclick="showStatusList('Đang_vận_chuyển')">Xem</button>{% else %}0{% endif %}</td>
        </tr>
        <tr>
            <td>Đã giao hàng</td>
            <td class="status-quantity">{% if sc.Đã_giao_hàng != 0 %}{{ sc.Đã_giao_hàng }}<button type="button" class="btn btn-link" onclick="showStatusList('Đã_giao_hàng')">Xem</button>{% else %}0{% endif %}</td>
        </tr>
        {% endwith %}
    </tbody>
</table>


        <h1 class="text-center">Kết quả kiểm tra</h1>
        <table class="table mt-4 table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mã vận chuyển</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {% if results %}
                {% for result in results %}
                <tr>
                    <td>{{ result.tracking_number }}</td>
                    <td>{{ result.status }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="2">Không có đơn hàng</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="footer text-center">
        <p>&copy; 2021 My Website. All rights reserved.</p>
    </div>

    <script>
        // Pass status lists from Django to JavaScript
        document.addEventListener("DOMContentLoaded", function () {
            var statusLists = {
                'Đã_thông_quan': {{ status_lists.Đã_thông_quan|safe }},
                'Đang_thông_quan': {{ status_lists.Đang_thông_quan|safe }},
                'Đang_vận_chuyển': {{ status_lists.Đang_vận_chuyển|safe }},
                'Đã_giao_hàng': {{ status_lists.Đã_giao_hàng|safe }}
            };

            for (var status in statusLists) {
                var statusListElement = document.createElement('script');
                statusListElement.type = 'application/json';
                statusListElement.id = status + '_list';
                statusListElement.textContent = JSON.stringify(statusLists[status]);
                document.body.appendChild(statusListElement);
            }
        });
    </script>
</body>

</html>
